body {
    background-color: #edccfa;
    color: #4d114a;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
}

a {
    color: #f018e6; /* pink */
}

a:hover {
    color: #f802ec; /* pink */
}

img {
    animation: fadeIn ease 800ms;
    -webkit-animation: fadeIn ease 800ms;
    -moz-animation: fadeIn ease 800ms;
    -o-animation: fadeIn ease 800ms;
    -ms-animation: fadeIn ease 800ms;
}

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

    @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
    }

/* Redefine Bootstraps rounded for more pixels */
.rounded {
    border-radius: 10px !important;
}

.bg-black {
    background-color: black;
    /* background-color: #333; */
}

.overflow-hidden {
    overflow: hidden;
}

#logo img {
    opacity: 0.85;
    max-height: 5rem;
}

#social-links a {
    margin-left: 1rem;
}
#social-links a:first-child {
    margin-left: 0;
}
#social-links img {
    opacity: 0.85;
    height: 55px;
    text-align: center;
    /* border-radius: 50%; */
}
#social-links img:hover {
    opacity: 1;
    /* background-color: #e649df; */
}

footer {
    color: #575757;
    font-size: 0.8rem;
}

/* Up to MD */
@media (max-width: 768px) {

    #logo, #social-links {
        align-content: space-around;
    }
    #social-links img {
        margin-top: 0.5rem;
        height: 50px;
    }

}
